@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';

@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
}

/* @media (prefers-color-scheme: dark) { Se puede agregar un modo oscuro después
  :root {  
    --foreground-rgb: 255, 255, 255;
  }
} */
@layer base {
  body {
    @apply text-text text-base m-0 p-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}